{% extends "log/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Piliyandala Maha Vidyalaya!</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}


<div id="container">
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'School Attendance on this week 2019-June 4th week'
        },
        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
        },
        series: [{
            name: 'Grade 10',
            data: [107, 31, 100, 80, 56]
        }, {
            name: 'Grade 11',
            data: [133, 156, 47, 48, 6]
        }, {
            name: 'Grade 12',
            data: [52, 54, 42, 74, 38]
        }]
    });
  </script>
</div>


  </div>
</div>
{% endblock %}