{% extends "log/base.html" %}
{% block body_block %}  
<form method="POST" class="post-form" action="/marksupdate/{{marks.id}}">  
        {% csrf_token %}  
    <div class="container"> 
  <div class="jumbotron"> 
<br> 
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-8">  
    <h3>Update Marks Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User Id:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="user_id" id="user_id" required maxlength="20" value="{{ marks.user_id }}" disabled/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Class:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="classes" id="classes" required maxlength="100" value="{{ marks.classes }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Exam:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="exam" id="exam" required maxlength="100" value="{{ marks.exam }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 1:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject1" id="subject1" required maxlength="100" value="{{ marks.subject1 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 1:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks1" id="marks1" required maxlength="100" value="{{ marks.marks1 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 2:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject2" id="subject2" required maxlength="100" value="{{ marks.subject2 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 2:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks2" id="marks2" required maxlength="100" value="{{ marks.marks2 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 3:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject3" id="subject3" required maxlength="100" value="{{ marks.subject3 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 3:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks3" id="marks3" required maxlength="100" value="{{ marks.marks3 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 4:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject4" id="subject4" required maxlength="100" value="{{ marks.subject4 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 4:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks4" id="marks4" required maxlength="100" value="{{ marks.marks4 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 5:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject5" id="subject5" required maxlength="100" value="{{ marks.subject5 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 5:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks5" id="marks5" required maxlength="100" value="{{ marks.marks5 }}" /> 
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 6:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject6" id="subject6" required maxlength="100" value="{{ marks.subject6 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 6:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks6" id="marks6" required maxlength="100" value="{{ marks.marks6 }}" />
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 7:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject7" id="subject7" required maxlength="100" value="{{ marks.subject7 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 7:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks7" id="marks7" required maxlength="100" value="{{ marks.marks7 }}" /> 
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 8:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject8" id="subject8" required maxlength="100" value="{{ marks.subject8 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 8:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks8" id="marks8" required maxlength="100" value="{{ marks.marks8 }}" /> 
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 9:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject9" id="subject9" required maxlength="100" value="{{ marks.subject9 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 9:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks9" id="marks9" required maxlength="100" value="{{ marks.marks9 }}" /> 
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Subject 10:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="subject10" id="subject10" required maxlength="100" value="{{ marks.subject10 }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Marks 10:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="marks10" id="marks10" required maxlength="100" value="{{ marks.marks10 }}" /> 
    </div>  
  </div>

    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Exam:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="exam" id="exam" required maxlength="100" value="{{ marks.exam }}" />  
    </div>  
  </div>     
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Total:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="total" id="total" required maxlength="250" value="{{ marks.total }}" />  
    </div>  
  </div>   
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>
    <!-- <input type=button value="Print me!" onClick="javascript:window.print()">   -->
    </div>  
  </div>  
    </div>
    </div>  
</form>   
{% endblock %}