{% extends "log/base.html" %}
{% block body_block %} 
<form method="POST" class="post-form" action="/profileshow/{{user.id}}">  
        {% csrf_token %}  
    <div class="container"> 
  <div class="jumbotron"> 
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>User Details</h3>  
    </div>  
  </div>
<table>
  <tr>
    <td width="20%">
    <div class="form-group row">  
    <label class="col-sm-4 col-form-label">User Id:</label>  
    <div class="col-sm-7">  
        <input class="form-control mr-sm-2" type="text" name="user_id" id="id_user_id" required maxlength="20" value="{{ user.id }}" disabled/>  
    </div>  
  </div>
   <div class="form-group row">  
    <label class="col-sm-4 col-form-label">User Name:</label>  
    <div class="col-sm-7">  
        <input class="form-control mr-sm-2" type="text" name="user_name" id="id_user_name" required maxlength="20" value="{{ user.username }}" disabled/>  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-4 col-form-label">User Type:</label>  
    <div class="col-sm-7">  
        <input class="form-control mr-sm-2" type="text" name="user_type" id="id_user_type" required maxlength="100" value="{{ user.userprofileinfo.user_type }}" disabled/>  
    </div>  
  </div>
  </td>
  <td width="20%" align="center">
      {% if user.userprofileinfo.profile_pic %}
      <img src="{{ user.userprofileinfo.profile_pic.url }}" width="130" />
      {% endif %}
  </td>
  </tr>
</table>

   <div class="form-group row">  
    <label class="col-sm-2 col-form-label">First Name:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" name="user_first_name" id="id_first_name" value="{{ userprofileinfo.user.first_name}}"/>  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Last Name:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="user_last_name" id="id_last_name" value="{{ userprofileinfo.user.last_name }}"/>  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Protfolio URL:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="url" name="portfolio_site" id="id_portfolio_site" required maxlength="100" value="{{ user.userprofileinfo.portfolio_site }}" />  
    </div>  
  </div>    
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Birth Date:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="date" name="birth_date" id="id_birth_date" required maxlength="100" value="{{ user.userprofileinfo.birth_date|date:'Y-m-d' }}" />  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Parents Name:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="parent_name" id="id_parent_name" required maxlength="100" value="{{ user.userprofileinfo.parent_name }}" />  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Phone Number:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="phone_number" id="id_phone_number" required maxlength="100" value="{{ user.userprofileinfo.phone_number }}" />  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">User Address:</label>  
    <div class="col-sm-4">  
        <input class="form-control mr-sm-2" type="text" name="user_address" id="id_user_address" required maxlength="100" value="{{ user.userprofileinfo.user_address }}" />  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>
    </div>  
</form>   
{% endblock %}